@model IEnumerable<CarGallery.Models.Fabricante>

@{
    ViewData["Title"] = "Index";
}
<br />
<h1>Fabricantes</h1>
<br />
<p>
    <a asp-action="Create">  Adicionar novo fabricante</a>
    <br />
    <br />
    <a asp-action="Create" asp-controller="Carro">Adicionar Carro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               ID
            </th>
            <th>
                Nome
            </th>
            <th>
                Descrição
            </th>
            <th>
                Fundação
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fundacao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>